
.content {
  padding-top: 70px; /* Adjust based on navbar height */
  background-image: url('./img/bg.webp'); /* Change the path to your image */
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; /* Adjust as needed */
}
.type{
  justify-content: center;
  display: flex;
  align-items: center;
}
/* text */
.txt h1 {
  font-size: 100px;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
  color: #ffffff;
  text-shadow: #dd7732;
}
.txt h1 span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
 .txt h1 span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.txt h1 span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

.logo{
  width: 90px;
}
p{
  text-align: justify;
}
a{
  text-decoration: none;
}
.vas{
  background-image: url(./henna/blur.jpg);
  height: 200px !important;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}
.blurr{
  backdrop-filter: blur(40px);
}


.leg{
  background-image: url(./henna/leg.jpg);
  height: 200px !important;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}


@media only screen and (max-width: 768px) {
.txt h1{
  font-size: 40px !important;
}
}